{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-eyecatchRole">
        <div class="ec-eyecatchRole__image">
            <img src="{{ asset('assets/img/top/eyecatch.jpg') }}" alt="" role="presentation"/>
        </div>
        <div class="ec-eyecatchRole__intro">
            <p class="ec-eyecatchRole__introEnTitle">おうちでも美味しい紅茶の時間を</p>
            <p class="ec-eyecatchRole__introTitle">ティーバックもコツを掴めば<br />いつもよりグッと美味しく楽しめます。</p>
            <p class="ec-eyecatchRole__introDescription">新型コロナの影響で外出もあまりできず<br />
でもおいしい紅茶が飲みたい方や、<br />
自粛により休業しているヨイナティーを<br />
支援したい方向け<br />
Webショップをオープンしました。<br />
現在は主に、ティーバックや<br />
ドリンクチケットのみなのですが<br />
今後オリジナルグッズや、フルーツティーレシピ<br />
店舗でご提供しているスイーツレシピも販売していきます。</p>
            <a class="ec-blockBtn--top" href="{{ url('product_list') }}">{{ 'front.block.eyecatch.view_list'|trans }}</a>
        </div>
    </div>
</div>
